/**
 * Login stylesheeet
 *
 * @package Candy Dashboard
 * @subpackage plugin
 *
 * Custom styles for admin login page
 *
 * CONTENTS
 *
 * Global.............................................Global variables & config.
 * Components....................................Header, footers, forms, buttons
 * Trumps...........................................Class helpers*
 *
 */
/*
 * Button mixin- creates 3d-ish button effect with correct highlights/shadows,
 * based on a base color.
 */
/*===============================
=            #GLOBAL            =
===============================*/
/* line 27, ../sass/_loginform.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 33, ../sass/_loginform.scss */
body {
  display: table;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
  background-color: #f8f8fc; }

/* line 43, ../sass/_loginform.scss */
a {
  color: #0074a2; }

/* line 47, ../sass/_loginform.scss */
#login {
  display: table-cell;
  padding-top: 0;
  width: 100%;
  vertical-align: middle;
  text-align: center; }

/*===================================
=            #COMPONENTS            =
===================================*/
/* Logo */
/* line 63, ../sass/_loginform.scss */
.login h1 {
  margin: 0 auto;
  width: 320px; }
  /* line 67, ../sass/_loginform.scss */
  .login h1 a {
    display: block;
    margin: 0 auto 24px;
    width: 100%;
    height: 96px;
    overflow: hidden;
    text-indent: -9999px;
    background: url("../images/admin-logo.png") no-repeat top center; }

/* line 78, ../sass/_loginform.scss */
.login form {
  margin: 0 auto 24px;
  padding: 24px;
  width: 320px;
  border: 1px solid #eeeeee;
  box-shadow: none; }

/* line 86, ../sass/_loginform.scss */
.login label {
  display: inline-block;
  width: 100%;
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 300;
  color: #444444;
  text-align: left; }

/* line 99, ../sass/_loginform.scss */
#loginform .input,
.login input[type=text],
.login input[type=email],
.login input[type=password] {
  display: block;
  margin: 5px 0 0;
  padding: 6px 12px;
  width: 100%;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #555555 !important;
  background-color: white !important;
  background-image: none !important;
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: none; }

/* line 115, ../sass/_loginform.scss */
.login form .forgetmenot label {
  font-size: 0.875em;
  font-weight: 300; }

/* Button */
/* line 122, ../sass/_loginform.scss */
.wp-core-ui .button-primary {
  background: #f39c12;
  border-color: #c87f0a;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 #f7ba5b, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #f7ba5b, 0 1px 0 rgba(0, 0, 0, 0.15); }
  /* line 13, ../sass/_mixins.scss */
  .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: #d2850b;
    border-color: #b06f09;
    color: white;
    -webkit-box-shadow: inset 0 1px 0 #f5b043, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 #f5b043, 0 1px 0 rgba(0, 0, 0, 0.15); }
  /* line 21, ../sass/_mixins.scss */
  .wp-core-ui .button-primary:active {
    background: #d2850b;
    border-color: #b06f09;
    color: white;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); }
  /* line 31, ../sass/_mixins.scss */
  .wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled {
    color: #d1cdc7 !important;
    background: #d2850b !important;
    border-color: #b06f09 !important;
    text-shadow: none !important; }

/* Messages */
/* line 128, ../sass/_loginform.scss */
.login #login_error, .login .message {
  margin: 0 auto 24px;
  width: 320px;
  font-size: 0.875em;
  text-align: left;
  border-left-color: yellowgreen; }

/* line 136, ../sass/_loginform.scss */
.login #login_error {
  border-color: indianred; }

/*==============================
=            #TRUMPS           =
==============================*/
/* line 145, ../sass/_loginform.scss */
.login #backtoblog,
.login #nav {
  display: block;
  margin: 0 auto 15px;
  padding-bottom: 0;
  width: 320px;
  font-size: 0.875em; }

/* line 154, ../sass/_loginform.scss */
.login #backtoblog a,
.login #nav a {
  color: #0074a2; }

/* line 159, ../sass/_loginform.scss */
.login #backtoblog a:hover, .login #backtoblog a:focus,
.login #nav a:hover, .login #nav a:focus {
  color: #003d55; }
