
/**
 * Login stylesheeet
 *
 * @package Candy Dashboard
 * @subpackage plugin
 *
 * Custom styles for admin login page
 *
 * CONTENTS
 *
 * Global.............................................Global variables & config.
 * Components....................................Header, footers, forms, buttons
 * Trumps...........................................Class helpers*
 *
 */

@import 'variables';
@import 'mixins';



/*===============================
=            #GLOBAL            =
===============================*/

*, *:before, *:after {
	-webkit-box-sizing: 	border-box;
	-moz-box-sizing: 	border-box;
	box-sizing: 		border-box;
}

body {
	display: table;
	width: 100%;
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	color: $text-color;
	background-color: $body-bg;
}

a {
	color: $link-color;
}

#login {
	display: table-cell;
	padding-top: 0;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}



/*===================================
=            #COMPONENTS            =
===================================*/

/* Logo */

.login h1 {
	margin: 0 auto;
	width: $login-form-width;

	a {
		display: block;
		margin: 0 auto $margin-base;
		width: 100%;
		height: 96px;
		overflow: hidden;
		text-indent: -9999px;
		background: $logo;
	}
}

.login form {
	margin: 0 auto $margin-base;
	padding: $padding-base;
	width: $login-form-width;
	border: 1px solid $gray-lighter;
	box-shadow: none;
}

.login label {
	display: inline-block;
	width: 100%;
	margin: 0 0 15px;
	font-size: $font-size;
	font-weight: $font-weight;
	color: $text-color;
	text-align: left;
}

#loginform .input,
.login input[type=text],
.login input[type=email],
.login input[type=password] {
	display: block;
	margin: 5px 0 0;
	padding: 6px 12px;
	width: 100%;
	height: 40px;
	font-family: $font-family;
	font-size: $font-size;
	color: $input-color !important;
	background-color: $input-bg !important;
	background-image: none !important;
	border: 1px solid $input-border;
	border-radius: $input-border-radius;
	box-shadow: none;
}

.login form .forgetmenot label {
	font-size: $font-size-small;
	font-weight: $font-weight;
}

/* Button */

.wp-core-ui .button-primary {
	@include button( $btn-color, $btn-font-color );
}

/* Messages */

.login #login_error, .login .message {
	margin: 0 auto $margin-base;
	width: $login-form-width;
	font-size: $font-size-small;
	text-align: left;
	border-left-color: $success;
}

.login #login_error {
	border-color: $danger;
}

/*==============================
=            #TRUMPS           =
==============================*/

.login #backtoblog,
.login #nav {
	display: block;
	margin: 0 auto 15px;
	padding-bottom: 0;
	width: $login-form-width;
	font-size: $font-size-small;
}

	.login #backtoblog a,
	.login #nav a {
		color: $link-color;
	}

	.login #backtoblog a:hover, .login #backtoblog a:focus,
	.login #nav a:hover, .login #nav a:focus {
		color: $link-hover-color;
	}

