/*
 * Button mixin- creates 3d-ish button effect with correct highlights/shadows,
 * based on a base color.
 */
@mixin button( $btn-color, $btn-font-color ) {
	background: $btn-color;
	border-color: darken( $btn-color, 10% );
	color: $btn-font-color;
	-webkit-box-shadow: 	inset 0 1px 0 lighten( $btn-color, 15% ), 0 1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 		inset 0 1px 0 lighten( $btn-color, 15% ), 0 1px 0 rgba(0, 0, 0, 0.15);

	&:hover,
	&:focus {
		background: darken( $btn-color, 8% );
		border-color: darken( $btn-color, 15% );
		color: $btn-font-color;
		-webkit-box-shadow: 	inset 0 1px 0 lighten( $btn-color, 10% ), 0 1px 0 rgba(0,0,0,.15);
		box-shadow: 		inset 0 1px 0 lighten( $btn-color, 10% ), 0 1px 0 rgba(0,0,0,.15);
	}

	&:active {
		background: darken( $btn-color, 8% );
		border-color: darken( $btn-color, 15% );
		color: $btn-font-color;
		-webkit-box-shadow: 	inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
	 	box-shadow: 		inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
	}

	&[disabled],
	&:disabled,
	&.button-primary-disabled {
		color: hsl( hue( $btn-color ), 10%, 80% ) !important;
		background: darken( $btn-color, 8% ) !important;
		border-color: darken( $btn-color, 15% ) !important;
		text-shadow: none !important;
	}
}
