$login-form-width: 320px;

$base-color: #444;

$logo-url: '../images/admin-logo.png';
$logo: url( $logo-url ) no-repeat top center;

$body-bg: #f8f8fc;
$link-color: #0074a2;
$btn-color: #f39c12;
$btn-font-color: #ffffff;

@import "_loginform.scss";
