/**
 * All of the CSS for your public-facing functionality should be included in this file.
 */
/*
 * Button mixin- creates 3d-ish button effect with correct highlights/shadows,
 * based on a base color.
 */
/* ==========================================================================
   Login
   ========================================================================== */
/* Global
   ========================================================================== */
/* line 9, ../../sass/_loginform.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../../sass/_loginform.scss */
body {
  display: table;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
  background-color: #f8f8fc;
}

/* line 25, ../../sass/_loginform.scss */
a {
  color: #02baf2;
}

/* line 29, ../../sass/_loginform.scss */
#login {
  display: table-cell;
  padding-top: 0;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

/* Components
   ========================================================================== */
/* logo */
/* line 40, ../../sass/_loginform.scss */
.login h1 {
  margin: 0 auto;
  width: 320px;
}
/* line 43, ../../sass/_loginform.scss */
.login h1 a {
  display: block;
  margin: 0 auto 24px;
  width: 100%;
  height: 96px;
  overflow: hidden;
  text-indent: -9999px;
  background: transparent url("../images/admin-logo.png") no-repeat top center;
}

/* line 54, ../../sass/_loginform.scss */
.login form {
  margin: 0 auto 24px;
  padding: 24px;
  width: 320px;
  box-shadow: none;
}

/* line 61, ../../sass/_loginform.scss */
.login label {
  display: inline-block;
  width: 100%;
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  text-align: left;
}

/* line 74, ../../sass/_loginform.scss */
#loginform .input,
.login input[type=text],
.login input[type=email],
.login input[type=password] {
  display: block;
  margin: 5px 0 0;
  padding: 6px 12px;
  width: 100%;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #555555 !important;
  background-color: white !important;
  background-image: none !important;
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: none;
}

/* line 90, ../../sass/_loginform.scss */
.login form .forgetmenot label {
  font-size: 12px;
  font-weight: 400;
}

/* buttons */
/* line 96, ../../sass/_loginform.scss */
.wp-core-ui .button-primary {
  background: #02baf2;
  border-color: #02baf2;
  color: white;
  font-size: 12px;
  text-shadow: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
/* line 16, ../../sass/_mixins.scss */
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: #029bca;
  border-color: #029bca;
  color: white;
}
/* line 22, ../../sass/_mixins.scss */
.wp-core-ui .button-primary:active {
  background: #029bca;
  border-color: #029bca;
  color: white;
}
/* line 30, ../../sass/_mixins.scss */
.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled {
  color: #c7cfd1 !important;
  background: #029bca !important;
  border-color: #029bca !important;
  text-shadow: none !important;
}

/* line 101, ../../sass/_loginform.scss */
.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large {
  height: 32px;
  line-height: 32px;
  padding: 0 24px;
}

/* messages */
/* line 108, ../../sass/_loginform.scss */
.login #login_error, .login .message {
  margin: 0 auto 24px;
  width: 320px;
  font-size: 12px;
  text-align: left;
  border-left-color: #3eb5ac;
  box-shadow: none !important;
}

/* line 117, ../../sass/_loginform.scss */
.login #login_error {
  border-color: #f84545;
}

/* Components
   ========================================================================== */
/* line 124, ../../sass/_loginform.scss */
.login #backtoblog,
.login #nav {
  display: block;
  margin: 0 auto 15px;
  padding-bottom: 0;
  width: 320px;
  font-size: 12px;
}

/* line 133, ../../sass/_loginform.scss */
.login #backtoblog a,
.login #nav a {
  color: #02baf2;
}

/* line 138, ../../sass/_loginform.scss */
.login #backtoblog a:hover, .login #backtoblog a:focus,
.login #nav a:hover, .login #nav a:focus {
  color: #0180a6;
}
